<mat-accordion class="routes-layout">
  <mat-card>
    <mat-card-header>
      <h3>Create a Route</h3>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="routeForm">

        <mat-form-field appearance="outline">
          <mat-label>Route Name</mat-label>

          <input type="text"
                 name="name"
                 formControlName="name"
                 matInput />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Locations for Route</mat-label>
          <mat-select formControlName="serviceAreas"
                      placeholder="Select locations"
                      multiple>

            <mat-option *ngFor="let area of serviceAreas"
                        [value]="area">{{ area }}</mat-option>
          </mat-select>
        </mat-form-field>


        <div *ngIf="this.routeForm.get('serviceAreas')?.value && this.routeForm.get('serviceAreas')?.value.length">
          <p>Locations selected:</p>
          <p>
            {{this.routeForm.get('serviceAreas')?.value.join(", ")}}</p>
        </div>
        <p *ngIf="!this.routeForm.get('serviceAreas')?.value || !this.routeForm.get('serviceAreas')?.value.length"
           style="text-align: center;">No
          locations have been selected</p>

        <button mat-raised-button
                [color]="'primary'"
                [disabled]="this.routeForm.invalid"
                (click)="createRoute()">Create Route</button>
      </form>
    </mat-card-content>
  </mat-card>
  <div>
    <h3>Routes:</h3>
    <ng-container *ngFor="let route of routes; index as i">
      <mat-expansion-panel hideToggle
                           [expanded]="step() === i"
                           (opened)="setStep(i)">
        <mat-expansion-panel-header *ngIf="!route.edit">
          <mat-panel-title>
            <p>{{route.edit ? '':route.name}}</p>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p *ngIf="route.edit"
           style="margin-top: 1em;">Edit the name of this route:</p>
        <p *ngIf="route.edit"
           [attr.id]="route.name + '-editor'"
           class="edit-route-enabled"
           contenteditable="true">
          {{route.name}}
        </p>

        <!-- Store the result of getRouteServiceAreas in a local variable 'areas' -->
        <ng-container *ngIf="getRouteServiceAreas(route.serviceAreas) as areas">
          <div cdkDropList
               [cdkDropListData]="areas"
               (cdkDropListDropped)="drop($event, route)">
            <div *ngFor="let area of areas"
                 cdkDrag
                 class="location-layout">
              {{ area }}
              <mat-icon style="color: grey;">drag_handle</mat-icon>
            </div>
          </div>
        </ng-container>

        <button mat-icon-button
                matTooltip="{{route.edit ? 'Hide the route name editor' : 'Edit the route name'}}"
                (click)="toggleRouteNameEdit($event, route, i)">
          <mat-icon [ngClass]="{'mat-danger-icon': route.edit, 'mat-accent-icon-btn': !route.edit}">{{route.edit ?
            'cancel' : 'edit'}}</mat-icon>
        </button>

        <button mat-icon-button
                color="primary"
                matTooltip="Update Route"
                style="float: right;"
                (click)="updateRoute(route)">
          <mat-icon>save</mat-icon>
        </button>
      </mat-expansion-panel>
    </ng-container>


    <ng-container *ngIf="routes && !routes.length">
      <p class="error-msg"
         style="height: 80% !important;
    width: 100% !important;">No Routes created</p>
    </ng-container>
  </div>
</mat-accordion>
