h2 {
  margin-top: 20px;
}

div[cdkDropList] {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
}

div[cdkDrag] {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: move;
}

.routes-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

.location-layout {
  display: flex;
  justify-content: space-between;
}

mat-card {
  height: 100%;
  min-height: 15em;
}

form {
  display: flex;
  flex-direction: column;
}

.edit-route-enabled {
  border: solid black 1px !important;
  padding: 0 1em;
  width: 75%;
}

.btn-layout {
  display: flex;
  justify-content: flex-end;
}

.locations-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  mat-form-field {
    margin-top: 1em;
    width: 70%;
  }
}

.mat-expansion-panel-body {
  padding: 0 0 0 1em;
}

.btn-layout {
  display: flex;
  justify-content: space-evenly;
}
