.appointments-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  overflow-y: scroll;
  margin-top: 0.25em;
  margin-right: 1em;
  justify-items: end;
  height: 78dvh;
}

mat-card {
  margin: 0.5em;
  padding: 1em;
  height: 11.5em;
  cursor: pointer;
  width: 90%;

  p {
    overflow: hidden;
  }
}

.appointment-title {
  display: inline-flex;
  justify-content: flex-end;
  width: 21dvw;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: 2.25em;

  button {
    bottom: 0.25em;
  }
}

.error-layout {
  background-color: #c4c4c4;
  color: black;
  border-radius: 1em;
  height: 75dvh;
  padding: 4em;
  float: right;
  margin-right: 1em;
  display: flex;
  width: 20dvw;
  align-items: center;
  justify-content: space-evenly;

  h2 {
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .appointment-title {
    width: 75dvw;
    display: flex;
    justify-content: flex-end;
  }

  .error-layout {
    height: 63dvh;
    width: 75dvw;
    margin-right: 15dvw;
  }
}
