<div class="appointment-title">
  <h2>{{archivedDisplayed ? 'Archived' : 'Active'}} Appointments</h2>

  <button mat-icon-button
          color="primary"
          matTooltip="{{!archivedDisplayed? 'View Archived Appointments': 'View Active Appointments'}}"
          (click)="archivedDisplayed = !archivedDisplayed">
    <mat-icon>{{!archivedDisplayed? 'history': 'event_upcoming'}}</mat-icon>
  </button>
</div>
<div *ngIf="filteredAppointments.length"
     class="appointments-layout">
  <mat-card *ngFor="let app of filteredAppointments"
            (click)="viewAppointment(app)">
    <mat-card-title [innerHTML]="formatDate(app.date, false, false)"></mat-card-title>
    <mat-card-content>
      <p [ngClass]="{'location-layout' : app.location.length >= 2, 'no-scroll': app.location.length < 2}">
        {{formatLocations(app.location)}}</p>

    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button
              color="warn"
              *ngIf="!this.archivedDisplayed"
              matTooltip="Archive Appointment"
              (click)="archiveApp(app, false, $event)">
        <mat-icon>
          archive
        </mat-icon>
      </button>

      <button mat-icon-button
              color="primary"
              matTooltip="Activate Appointment"
              *ngIf="this.archivedDisplayed"
              (click)="archiveApp(app, true, $event)">
        <mat-icon>
          history
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<div *ngIf="!filteredAppointments.length">
  <h2 class="error-msg">No {{archivedDisplayed ? 'Archived' : 'Active'}} Appointments</h2>
</div>
