.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.reply-list {
  width: 95%;
  height: 43em;
  padding: 2em;
  margin: 1em;
}
.message-list {
  width: 35em;
  height: 43em;
  padding: 2em;
  margin: 1em;

  mat-card-title {
    display: flex;

    button {
      margin-left: 1em;
    }
  }

  h4 {
    margin-left: 0.5em;
  }

  .client-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
  }
  .client-card {
    width: 12em;
    height: 12em;
    padding: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.location-layout {
  height: 35em;
  overflow-y: scroll;
}

.location-title {
  position: sticky;
  top: -1px;
  background-color: white;
  z-index: 20;
}

.rotate-image {
  animation: rotate 1s linear infinite; /* Adjust the duration (5s) as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.messages-layout {
  overflow-y: scroll;
  height: 35em;
}

.client-name {
  position: sticky;
  top: -1px;
  z-index: 5;
  background-color: white;
  border-bottom: #9a9a9a solid 1px;
  padding-bottom: 1em;
}

.message {
  min-width: 15em;
  max-width: 20em; /* Adjust as needed */
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  align-content: center;

  sub {
    color: grey;
    margin-right: 10px;
  }
}

.sent {
  background-color: #dcf8c6; /* Light green for sent messages */
  align-self: flex-end; /* Align sent messages to the right */
}

.unsent {
  background-color: #f8c6c6; /* Light green for sent messages */
  align-self: flex-end; /* Align sent messages to the right */
}
.received {
  background-color: #e0e0e0; /* Light gray for received messages */
  align-self: flex-end; /* Align received messages to the left */
}

.panel-container {
  position: fixed;
  top: 5em;
  right: 0;
  width: 50%;
  height: 45em;
  background-color: #f0f0f0;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  z-index: 50;
  border-radius: 3px;
}

.panel {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 50;
}
