<div [ngClass]="{'layout-collapsed': !showClients, 'layout-expanded': showClients}"
     (click)="this.togglePanel($event, true)">
  <mat-card class="client-list">
    <mat-card-title
                    *ngIf="this.appointment && showClients && this.appointment.app && this.appointment.app.date && this.appointment.app.route">
      <div>
        <button mat-icon-button
                color="primary"
                matTooltip="Send Appointment Texts"
                (click)="openPanel()"
                [disabled]="this.appointment.app.messages && this.appointment.app.messages.sentDate">
          <mat-icon>
            <span class="material-symbols-outlined">
              outgoing_mail
            </span>
          </mat-icon>
        </button>

        <button mat-icon-button
                matTooltip="Edit Messages"
                (click)="openMsgPanel()">
          <mat-icon class="mat-accent-icon-btn">chat</mat-icon>
        </button>
      </div>

      <div>
        <button mat-icon-button
                color="primary"
                matTooltip='{{showClients ? "Collapse Client Panel" : "Expand Client Panel"}}'
                (click)="showClients = !showClients">
          <mat-icon>
            {{ showClients ? "arrow_back_ios": "arrow_forward_ios" }}
          </mat-icon>
        </button>
      </div>
    </mat-card-title>

    <mat-card-title class="app-title-collapsed"
                    *ngIf="this.appointment && !showClients && this.appointment.app && this.appointment.app.date && this.appointment.app.route">
      <button mat-icon-button
              color="primary"
              matTooltip='{{showClients ? "Collapse Client Panel" : "Expand Client Panel"}}'
              (click)="showClients = !showClients">
        <mat-icon>
          {{ showClients ? "arrow_back_ios": "arrow_forward_ios" }}
        </mat-icon>
      </button>

      <button mat-icon-button
              color="primary"
              matTooltip="Send Appointment Texts"
              (click)="openPanel()"
              [disabled]="this.appointment.app.messages && this.appointment.app.messages.sentDate">
        <mat-icon>
          <span class="material-symbols-outlined">
            outgoing_mail
          </span>
        </mat-icon>
      </button>

      <button mat-icon-button
              matTooltip="Edit Messages"
              (click)="openMsgPanel()">
        <mat-icon class="mat-accent-icon-btn">chat</mat-icon>
      </button>
    </mat-card-title>

    <app-appointment-client-list *ngIf="showClients"
                                 [appointment]="this.appointment"
                                 [addToList]=false></app-appointment-client-list>
  </mat-card>

  <mat-card class="reply-list">
    <mat-card-title class="app-title"
                    *ngIf="this.appointment && this.appointment.app && this.appointment.app.date && this.appointment.app.route">
      <h2 class="mat-primary-title">{{this.appointment.app.route.name}} -&nbsp;</h2>
      <h2 class="mat-primary-title"
          [innerHTML]="this.DataService.formatDate(this.appointment.app.date ,false, false)">TITLE PLACEHOLDER</h2>
    </mat-card-title>
    <!-- <mat-tab-group mat-align-tabs="start"
                   mat-stretch-tabs="true"> -->
    <!-- <mat-tab label="SMS Messages">
        <mat-card-title style="display: flex; justify-content: center;">
          <button mat-icon-button
                  color="accent"
                  class="mat-accent"
                  matTooltip="Load Responses"
                  [disabled]="!hasMessageSent()"
                  (click)="
                loadReplies()"
                  [ngClass]="{'rotate-image': this.loadingReplies}">
            <mat-icon [ngClass]="{'mat-accent-icon-btn': hasMessageSent()}">
              sync
            </mat-icon>
          </button>

          <button mat-icon-button
                  color="warn"
                  (click)="showErrorPanel = true"
                  *ngIf="this.appointment && this.appointment.app && this.appointment.app.replies && (getFailedMessages().length || showErrorBtn)">
            <mat-icon color="warn"
                      matBadgeColor="primary"
                      aria-hidden="false"
                      matBadge="{{getFailedMessages().length + this.unsentContactMsg.length}}">error</mat-icon>
          </button>

          <div class="err-panel-layout scroll scroll-margin"
               *ngIf="showErrorPanel">
            <ol>
              <ng-container
                            *ngIf="this.appointment && this.appointment.app && this.appointment.app.replies && (getFailedMessages().length || showErrorBtn)">
                <h2 class="error-title">Contacts that messages couldn't be sent to:</h2>
                <hr>
                <ng-container *ngFor="let message of this.unsentContactMsg; index as i">
                  <ng-container>
                    <p class="err-list"><b>{{i+1}}.</b> Message could not be sent to <b>{{message.petParentName}}</b>
                      for
                      <b>{{message.petName}}'s</b>
                      appointment,
                      please check current contact method for this client.
                    </p>
                    <p class="err-list">Current contact method: <b>"{{message.contactMethod}}"</b></p>
                    <hr>
                  </ng-container>
                </ng-container>
              </ng-container>
              <ng-container
                            *ngIf="this.appointment && this.appointment.app && this.appointment.app.replies && getFailedMessages().length">
                <h2 class="error-title">Messages with
                  Errors:</h2>
                <ng-container *ngFor="let message  of getFailedMessages(); index as i"
                              style="width: 10em;">
                  <h3><b>{{i+1}}.</b> Tried sending to: {{formatNumber(message.to)}}</h3>

                  <mat-card class="message error-message unsent">
                    <mat-card-content>
                      <p>{{message.body}}</p>
                    </mat-card-content>
                    <mat-card-footer align="end">
                      <sub>{{formatStatus(message.status)}} -
                        {{this.DataService.messageDateFormat(message.dateUpdated)}}</sub>
                    </mat-card-footer>
                  </mat-card>
                </ng-container>
              </ng-container>
            </ol>
          </div>
        </mat-card-title>

        <mat-card-content (click)="showErrorPanel ? showErrorPanel = false: true">

          <div *ngIf="hasMessageSent()">
            <h2 class="error-msg"
                style="width: 100%;"
                *ngIf="this.appointment &&this.appointment.app && this.appointment.app.replies && this.appointment.app.replies.length == 0">
              Please load responses to see who replied</h2>

            <div *ngIf="this.appointment &&this.appointment.app && this.appointment.app.replies && this.appointment.app.replies.length != 0"
                 class="messages-layout scroll">
              <div *ngFor="let client of this.appointment.app.messages.sentTo">
                <h2 class="client-name">{{client.petName}}
                </h2>

                <div>
                  <div>
                    <ng-container *ngFor="let message of this.appointment.app.replies">
                      <mat-card *ngIf="this.showCard(message, client)"
                                class="message sent"
                                [ngClass]="{'sent': this.message.status == 'delivered', 'unsent': this.message.status == 'failed', 'received': this.message.direction == 'inbound'}">
                        <mat-card-content>
                          <p
                             [innerText]="message.body.length > 500 && message.direction == 'outbound-api'? 'Appointment Message Sent' : message.body">
                          </p>
                        </mat-card-content>
                        <mat-card-footer align="end">
                          <sub>{{formatStatus(message.status)}} -
                            {{this.DataService.messageDateFormat(message.dateUpdated)}}</sub>
                        </mat-card-footer>
                      </mat-card>
                    </ng-container>
                  </div>

                  <div *ngIf="getErrCount(client)"
                       class="error-msg"
                       style="height: 10em; width: 95%; margin: 1em 0;">
                    <p>
                      <b>
                        ERROR: Message could not sent
                      </b>
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="!hasMessageSent()">
            <h2 class="error-msg"
                style="width: 100%; height: 60vh">Appointment Messages not sent</h2>
          </div>
        </mat-card-content>

      </mat-tab> -->
    <!-- <mat-tab label="Route Scheduler"
               [disabled]="!hasMessageSent()"
               > -->
    <app-appointment-scheduler *ngIf="this.appointment && this.appointment.app && this.appointment.app.messages && this.appointment.app.replies.length"
                               [clients]="this.appointment.app.messages.sentTo"
                               [replies]="this.appointment.app.scheduler"
                               [appId]="this.appointment.app._id"></app-appointment-scheduler>

    <div *ngIf="!hasMessageSent()">
      <h2 class="error-msg"
          style="width: 100%; height: 70vh">Appointment Messages not sent</h2>
    </div>
    <!-- </mat-tab> -->

    <!-- </mat-tab-group> -->


  </mat-card>
</div>
