.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.reply-list {
  width: 95%;
  height: 43em;
  padding: 2em;
  margin: 1em;
}
.message-list {
  width: 35em;
  height: 43em;
  padding: 2em;
  margin: 1em;

  mat-card-title {
    display: flex;

    button {
      margin-left: 1em;
    }
  }

  h4 {
    margin-left: 0.5em;
  }

  .client-cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1em;
  }
  .client-card {
    width: 12em;
    height: 12em;
    padding: 2em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;

    mat-icon {
      padding: 0.5em;
    }
  }
}

.location-layout {
  height: 35em;
  overflow-y: scroll;
}

.location-title {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 20;
}

.rotate-image {
  animation: rotate 1s linear infinite; /* Adjust the duration (5s) as needed */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
