<div class="page_layout"
     *ngIf="!isLoggedIn">
  <mat-card>
    <div class="loginForm">
      <h3>Login</h3>

      <form [formGroup]="loginForm"
            (ngSubmit)="login()">

        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput
                 type="username"
                 formControlName="username"
                 (keydown.enter)="enterKeyClicked($event)">
          <!-- <mat-error *ngIf="loginForm.get('username')?.invalid">{{getUsernameError()}}</mat-error> -->
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput
                 type="{{ hide ? 'password' : 'text' }}"
                 formControlName="password"
                 name="password"
                 (keydown.enter)="enterKeyClicked($event)"
                 required>
          <button mat-icon-button
                  matSuffix
                  (click)="togglePassword($event)">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="
                loginForm.get('password')?.invalid">Password is required</mat-error>
        </mat-form-field>


        <button mat-raised-button
                color="primary"
                style="color: white"
                [disabled]="loginForm.invalid"
                class="login-btn">Sign In</button>

      </form>

      <div style="display: flex;
                justify-content: space-around;
                width: 30em;
                margin-top: 2em;">

      </div>
    </div>
  </mat-card>
</div>
