mat-card {
  display: flex;
  width: 40em;
  height: 40em;
  flex-direction: column;
  justify-content: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2em;
  align-items: stretch;
  align-content: space-around;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 1em;
}

.page_layout {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  width: 90%;
}

@media (max-width: 600px) {
  .loginForm {
    width: 90vw !important;
  }

  mat-form-field,
  .login-btn {
    width: 81vw !important;
  }
}
