.layout {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

app-client-list,
app-appointment-list {
  margin-top: 3em;
  margin-right: 2em;
}

.btn-layout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1.5em;
}

button {
  margin-top: 1em;
}

@media (max-width: 1000px) {
  .layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr) !important;
  }

  app-client-list,
  app-appointment-list {
    margin-top: 3em;
    margin-right: 2em;
    padding: 1em;
  }
}
