<div class="title-layout">
  <h2>Pet Clients
    <button mat-icon-button
            (click)="toggleSortOrder()"
            matTooltip="Sort clients"><mat-icon>{{isAscending ? "keyboard_arrow_up" :
        "keyboard_arrow_down"}}</mat-icon></button>
  </h2>
  <form [formGroup]="queryForm">
    <mat-form-field appearance="outline">
      <mat-label>Search for a client</mat-label>

      <input type="text"
             name="clientQuery"
             formControlName="clientQuery"
             matInput
             (ngModelChange)="filterList()" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select formControlName="locationQuery"
                  placeholder="Select a location"
                  multiple
                  (selectionChange)="filterList()">

        <mat-optgroup [label]="'Service Areas'"
                      class="scroll">
          <mat-option *ngFor="let area of serviceAreas"
                      [value]="area">{{ area }}</mat-option>
        </mat-optgroup>

        <mat-optgroup [label]="'Routes'"
                      style="background-color: grey;">
          <mat-option *ngFor="let route of routes"
                      [value]="route">{{ route.name }}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

  </form>

  <button mat-icon-button
          matTooltip="Open Route Editor"
          (click)="openRouteEditor()">
    <mat-icon class="mat-accent-icon-btn">route</mat-icon>
  </button>
  <div></div>

</div>

<div *ngIf="clientsQry && clientsQry.length"
     class="card-container scroll">
  <mat-card *ngFor="let client of clientsQry | sort: 'petName' : isAscending">
    <mat-card-header>
      <mat-card-title style="display: inline-flex;
      justify-content: space-between;
      width: 10em; cursor: pointer;">
        <h2>{{client.petName}}</h2>
        <mat-icon matTooltip="{{client.active ? 'Deactivate Client' : 'Activate Client'}}"
                  [ngClass]="{'mat-success-btn': client.active, 'mat-danger-btn': !client.active}"
                  (click)="updateStatus(client._id, !client.active)">{{client.active ?
          "mark_email_read" : "unsubscribe"}}</mat-icon>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>Pet Parent: {{client.petParentName}}</p>
      <p>Animal Type: {{client.animalType}}</p>
      <p>Breed: {{client.breed}}</p>
      <p>Contact: {{client.contactMethod == "" || client.contactMethod.toLowerCase() == "messenger" ?
        client.contactMethod :
        formatNumber(client.contactMethod)}}</p>
      <p>Service Area: {{client.serviceArea}}</p>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!clientsQry.length || !clients.length">
  <h2 class="error-msg">{{!clients.length ? "No Clients" : "No clients found"}}</h2>
</div>
