mat-card {
  width: 20em;
  background-color: white;
  margin-left: 1em;
  padding: 1em;
  height: 18em;
}

.card-container {
  margin-top: 1.5em;
  overflow-y: scroll;
  height: 74.5vh;
  width: 82vw;
}

div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75em;
}

.error-msg {
  background-color: #c4c4c4;
  color: black;
  width: 77vw;
  border-radius: 1em;
  margin-left: 2em;
  height: 74vh;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1em;
}

@media (min-width: 1400px) {
  mat-card {
    width: 18em;
  }
}

.title-layout {
  display: flex;
  width: 100%;
  height: 2em;
  justify-content: space-around;
  margin-top: 2em;
  align-items: center;
}

form {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
}
