nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  height: 5em;
  align-items: center;
  padding-right: 2.5em;

  h2 {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 0.5em 0.1em;
  }

  .button-layout {
    display: flex;
  }

  div {
    button {
      margin-right: 2em;
    }
  }
}

form {
  padding: 1em;
}

#client-panel {
  right: 10%;
  z-index: 100;
}

#appointment-panel {
  height: 20em;
  width: 20em;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 100;
}

.logo {
  object-fit: contain !important;
  height: 7em;
  padding: 1em 0.15em;
}

.user {
  cursor: pointer;
  h3 {
    margin: 0 !important;
  }
}

.login-err-message {
  display: grid;
  height: 40vh;
  width: 62vw;
  align-items: center;
  justify-content: center;
  grid-template-rows: 2em 1em;
  margin: 6em 20vw;
  grid-gap: 3em;
  align-content: center;
}

@media (max-width: 600px) {
  .login-err-message {
    margin-left: 2em;
    width: 85vw !important;
    padding: 2em;
  }
}
