<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body mat-background-primary"
     data-bs-theme="dark"
     (click)="hidePanels()">
  <div class="container-fluid">
    <a (click)="this.DataService.goHome()"
       style="cursor: pointer;
         display: flex;
         flex-wrap: nowrap;
         align-items: center;
         margin-bottom: 0.15em;">
      <img class="logo"
           src="../assets/logo.png"
           alt="">
      <h2>Barks & Bubbles</h2>
    </a>
  </div>

  <div class="button-layout">
    <button mat-icon-button
            *ngIf="getUser() != null"
            matTooltip="Add Pet"
            (click)="showPanel($event, true)">
      <mat-icon><span class="material-symbols-outlined">
          pets
        </span></mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Add Appointment"
            *ngIf="getUser() != null"
            (click)="showPanel($event, false)">
      <mat-icon>alarm</mat-icon>
    </button>
  </div>

  <div class="user"
       matTooltip="Double Click to Logout"
       (dblclick)="logout()">
    <h3>{{getUser()}}</h3>
  </div>
</nav>


<div id="client-panel"
     class="panel-layout"
     *ngIf="showClientPanel">
  <app-pet-form [hidePanels]="hidePanels.bind(this)"></app-pet-form>
</div>

<div id="appointment-panel"
     class="panel-layout"
     *ngIf="showAppPanel">

  <form [formGroup]="appForm">

    <h3>Create a New Appointment</h3>

    <mat-form-field appearance="outline">
      <mat-label for="date">Appointment Date</mat-label>
      <input matInput
             [matDatepicker]="datePicker"
             formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix
                             [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline"
                    style="width: 100%; margin-top: 0.75em;">
      <mat-select formControlName="location"
                  placeholder="Select a location"
                  multiple>

        <mat-option *ngFor="let option of options"
                    [value]="option">{{ option }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="    display: flex;
    justify-content: flex-end;">
      <button mat-raised-button
              color="primary"
              [disabled]="this.appForm.invalid"
              (click)="createAppointment()">Create</button>

      <button mat-raised-button
              color="accent"
              style="margin-left: 1em; color: white;"
              (click)="hidePanels()">Cancel</button>
    </div>
  </form>
</div>

<div (click)="hidePanels()">
  <app-loader *ngIf="showLoader"
              style="z-index: 100;"></app-loader>
  <router-outlet>

  </router-outlet>

  <div *ngIf="!isLoggedIn && init"
       class="login-err-message">
    <h1>Opps! </h1>
    <h3> Looks like you forgot to login! Click this to <a href="
       /login">here</a> to login</h3>
  </div>
</div>
