<div class="title-layout">

  <h3 class="mat-primary-title">Selected Time: {{hoveredTime ? hoveredTime: "Unscheduled"}}</h3>

  <div *ngIf="firstActiveCard != null && secondActiveCard != null"
       class="format-layout">
    <p matBadge="1"
       class="active-badge-one"></p>

    <mat-icon>arrow_right_alt</mat-icon>
    <p matBadge="2"
       class="active-badge-two"
       color="green"></p>

  </div>

  <button *ngIf="firstActiveCard != null && secondActiveCard != null"
          mat-icon-button
          matTooltip="Switch Selected Replies"
          [color]="'accent'"
          (click)="switchReplies()">
    <mat-icon class="mat-accent-icon-btn">
      move_up
    </mat-icon>
  </button>

  <button mat-icon-button
          (click)="saveReplies(true)"
          color="primary"
          matTooltip="Save Appointments">
    <mat-icon>save</mat-icon>
  </button>

  <button mat-icon-button
          (click)="resetAppTimes()"
          color="warn"
          matTooltip="Reset All Appointments">
    <mat-icon>
      restart_alt
    </mat-icon>
  </button>

  <button mat-icon-button
          matTooltip="View scheduler editor"
          (click)="panelType = 'scheduler'"
          [color]="'accent'">
    <mat-icon class="mat-accent-icon-btn">
      event_note
    </mat-icon>
  </button>

  <button mat-icon-button
          matTooltip="Add reply to scheduler"
          (click)="panelType = 'clients'"
          [color]="'primary'">
    <mat-icon>
      maps_ugc
    </mat-icon>
  </button>

  <button mat-icon-button
          matTooltip="Send Reply Texts"
          (click)="openPanel()"
          [color]="'accent'">
    <mat-icon class="mat-accent-icon-btn">
      outgoing_mail
    </mat-icon>
  </button>


</div>

<div class="add-reply-panel-layout scroll"
     *ngIf="panelType == 'clients'">
  <h3>Add a pet to the replies:</h3>
  <app-appointment-client-list [appointment]="this.appointment"
                               [addToList]='true'></app-appointment-client-list>

</div>

<div class="add-reply-panel-layout no-scroll"
     *ngIf="panelType == 'scheduler'">
  <app-scheduler-editor [route]="this.appointment.app.route"
                        [hours]="this.hours"
                        [app]="this.appointment.app"></app-scheduler-editor>
</div>

<div class="layout"
     (click)="panelType = ''">
  <div class="replies-container scroll"
       [ngClass]="{'no-scroll': !this.replies.length}">

    <div>

      <div *ngFor="let reply of replies"
           class="reply-container"
           cdkDropListGroup>
        <ng-container *ngFor="let key of objectKeys(reply), index as i">
          <div class="location-header">
            <div style=" display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;">
              <p matBadge="{{getLocationInitials(key)}}"
                 style="z-index: 21; margin-top: 1.5px;"></p>
              <p class="location-title"><b>{{ key }} ({{reply[key].length}})</b></p>
            </div>
            <div class="increment-btns"
                 *ngIf="reply[key].length">
              <button mat-icon-button
                      (click)="decrementCounter(key)"
                      color="accent">
                <mat-icon class="mat-accent-icon-btn">
                  do_not_disturb_on
                </mat-icon>
              </button>
              <span class="counter">{{ counters[key] }} hrs</span>
              <button mat-icon-button
                      (click)="incrementCounter(key)"
                      color="primary">
                <mat-icon>
                  add_circle
                </mat-icon></button>
            </div>
          </div>

          <div cdkDropListGroup
               cdkDropList
               [cdkDropListData]="[filterByTime(reply[key].replies, '')]"
               (cdkDropListDropped)="drop($event)"
               (mouseenter)="this.hoveredTime= null"
               (touchend)="this.hoveredTime= null">

            <mat-card *ngFor="let message of filterByTime(reply[key].replies, '')"
                      [ngClass]="{'not-default-time': !message.defaultTime}"
                      cdkDrag
                      class="no-time-msg"
                      [cdkDragData]="message">
              <mat-card-title style="height: 0em"></mat-card-title>
              <mat-card-content>
                <div class="reply-layout">
                  <div>
                    <mat-icon>pets</mat-icon>
                    <p>{{message.petName}}</p>

                    <mat-icon>face</mat-icon>
                    <p>{{message.petParentName}}</p>

                  </div>

                  <p *ngIf="message.body.length > 2"
                     class="longer-msg"
                     matTooltip="{{ message.body }}">
                    {{ message.body}}
                  </p>

                  <p *ngIf="message.body.length <= 2">
                    {{ message.body}}
                  </p>
                </div>
              </mat-card-content>
            </mat-card>


            <p *ngIf="!filterByTime(reply[key].replies, '').length && reply[key].length">All replies scheduled</p>

            <p *ngIf="filterByTime(reply[key].replies, '') && !reply[key].length"
               style="width: 12em;">No Replies from this area</p>
          </div>
        </ng-container>
      </div>
    </div>



    <p *ngIf="!this.replies.length"
       class="no-replies">No Replies</p>

  </div>
  <div class="hours scroll"
       cdkDropListGroup>
    <div class="hour"
         *ngFor="let hour of hours; index as i"
         cdkDropList
         id="{{hour}}"
         [cdkDropListData]="filterByTime(this.replies, hour)"
         [cdkDropListConnectedTo]="hours"
         (cdkDropListDropped)="drop($event)"
         (mouseenter)="this.hoveredTime = hour"
         (touchend)="this.hoveredTime = hour">
      <h3>{{hour}}</h3>
      <div class="scheduled card-wrapper">
        <mat-card *ngFor="let message of filterByTime(this.replies, hour); index as j"
                  cdkDrag
                  class="mat-card"
                  [cdkDragData]="message"
                  [ngClass]="{'activeOne': firstActiveCard === j && hourToSwitch == hour, 'activeTwo': secondActiveCard === j && hourToSwitch == hour,'not-default-time': !message.defaultTime}"
                  (click)="toggleActiveCard(j, hour)">

          <mat-card-title align="end"
                          style="height: 0em">
            <p matBadge="{{ getLocationInitials(message.serviceArea) }}"
               matBadgePosition="below"
               class="badge"
               matTooltip="{{ message.serviceArea }}"></p>
          </mat-card-title>

          <mat-card-content>
            <div class="reply-layout"
                 style="margin-bottom: 1em;">
              <div>
                <mat-icon>pets</mat-icon>
                <p>{{ message.petName }}</p>

                <mat-icon>face</mat-icon>
                <p>{{ message.petParentName }}</p>
              </div>

              <p *ngIf="message.body.length > 2"
                 class="longer-msg"
                 matTooltip="{{ message.body }}">
                {{ message.body }}
              </p>

              <p *ngIf="message.body.length <= 2">
                {{ message.body }}
              </p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <h3 *ngIf="!filterByTime(this.replies, hour).length"
          class="err-msg">Nothing Scheduled at {{hour}}</h3>
    </div>
  </div>

</div>
