<div class="title-layout">
  <h2>Route Scheduler</h2>
  <button mat-icon-button
          (click)="saveReplies(true)"
          color="primary"
          matTooltip="Save Appointments">
    <mat-icon>save</mat-icon>
  </button>

  <button mat-icon-button
          (click)="resetAppTimes()"
          color="warn"
          matTooltip="Reset All Appointments">
    <mat-icon>
      restart_alt
    </mat-icon>
  </button>

  <button mat-icon-button
          color="accent"
          matTooltip="Send Reply Texts"
          (click)="openPanel()">
    <mat-icon>
      <span class="material-symbols-outlined">
        outgoing_mail
      </span>
    </mat-icon>
  </button>
</div>

<div class="layout">
  <div (dragover)="onDragOver($event)"
       (touchmove)="onDragOver($event)"
       (drop)="onDrop($event, null)"
       (touchend)="onDrop($event, null)"
       class="replies-container scroll">
    <mat-card *ngFor="let reply of filter(this.replies, null)"
              draggable="true"
              (dragstart)="onDragStart(reply)"
              (touchstart)="onDragStart(reply)">
      <p *ngIf="reply.body.length > 10"
         matTooltip="{{reply.body}}">{{reply.body}}</p>
      <p *ngIf="reply.body.length <= 10">{{reply.body}}</p>
      <mat-card-footer align="end">{{getClientName(reply.from)}}</mat-card-footer>
    </mat-card>
    <p *ngIf="!filter(this.replies, null).length"
       (dragover)="onDragOver($event)"
       (touchmove)="onDragOver($event)"
       (drop)="onDrop($event, null)"
       (touchend)="onDrop($event, null)">No Replies</p>

  </div>
  <div class="hours scroll">
    <div class="hour"
         *ngFor="let hour of hours"
         (dragover)="onDragOver($event)"
         (touchmove)="onDragOver($event)"
         (drop)="onDrop($event, hour)"
         (touchend)="onDrop($event, hour)">
      <h3>{{hour}}</h3>
      <div class="hour-reply-layout">
        <mat-card *ngFor="let reply of filter(this.replies, hour)"
                  draggable="true"
                  (dragstart)="onDragStart(reply)"
                  (touchstart)="onDragStart(reply)">
          <p *ngIf="reply.body.length > 10"
             matTooltip="{{reply.body}}">{{reply.body}}</p>
          <p *ngIf="reply.body.length <= 10">{{reply.body}}</p>

          <mat-card-footer align="end">{{getClientName(reply.from)}}</mat-card-footer>
        </mat-card>
      </div>

      <h3 *ngIf="!filter(this.replies, hour).length"
          class="err-msg">Nothing Scheduled at {{hour}}</h3>
    </div>
  </div>
</div>
