.hours {
  display: flex;
  flex-direction: column;
  height: 30em;
  overflow-y: scroll;
  margin: 1em;
}

.hour {
  padding: 5px;
  border-bottom: 1px solid #ccc;

  h3 {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    z-index: 200;
    height: 3em;
    margin-bottom: 0;
  }
}

.hour-reply-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding-left: 1em;
  background-color: #f0f0f0;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #f0f0f0;
}

.replies-container {
  height: 30em;
  width: 15em;
  overflow-y: scroll;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-left: 1em;
  padding: 1em 0;
  background-color: rgba(171, 219, 232, 0.4901960784);
  border-top: 0.5em solid rgba(171, 219, 232, 0);
  border-bottom: 0.5em solid rgba(171, 219, 232, 0);
}

mat-card {
  cursor: move;
  margin-bottom: 2em;
  padding: 1em;
  height: 6em;
  width: 10em;
  text-overflow: ellipsis;

  p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

mat-card:active {
  border: 1px solid black;
  opacity: 1;
}

.err-msg {
  color: #808080;
  z-index: 1;
  margin-left: 2em;
}

.no-replies {
  background-color: #c4c4c4;
  color: black;
  font-weight: bolder;
  height: 28em;
  margin: 1em 0.25em;
  border-radius: 1em;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 10em;
}

.no-scroll {
  border: none;
}

h2 {
  margin: 0 !important;
}

.title-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5em;
}

@media only screen and (min-width: 1366px) and (min-height: 1024px) {
  .layout {
    height: 55em;
  }

  .replies-container {
    height: 53em !important;
  }

  .hours {
    height: 53em !important;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
  .layout {
    height: 79em;
  }

  .replies-container {
    height: 77em !important;
  }

  .hours {
    height: 77em !important;
  }
}
